*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    color: #1360d3;
}

.carousel-caption {
    background-color: rgba(29, 25, 25, 0.658);
    
}
#list-items {
    font-size: 20px;
    color: #1360d3;
    margin-left: 4px;
    margin-right: 4px;
  
} 
.welcome {
    color:#006600;
}
.carousel-caption h3{
    color:#006600;
}